<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="./vendor/yeticss.css">
  <link rel="stylesheet" href="./src/styles/styles.css"> -->
</head>
<body ng-controller="MainController as ctrl">

  <div class="container">
    <h1>Hello World</h1>

  </div>

  <ul ng-repeat="category in ctrl.categories">
    <li>
      <a href="#0" ng-click="ctrl.onCategoryClick(category)">{{ category.id }} - {{ category.name }}</a>
    </li>
  </ul>





  <!-- <script src="./vendor/angular.min.js"></script>
  <script src="./src/module.js"></script>
  <script src="./src/mainController.js"></script>
  <script src="./src/categories.state.js"></script>
  <script src="./src/app.store.js"></script> -->
</body>
</html>